.flight_div {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: black;
    background-color: rgba(0, 0, 0, .5);
    background-size: cover;
}

.flight {
    position: fixed;
    top: 15%;
    left: 10%;
    right: 10%;
    max-width: 700px;
    font: 95% Arial, Helvetica, sans-serif;
	margin: 10px auto;
	padding: 16px;
	background-color: #F7F7F7;
    border: 2px solid black;
}



.flight_header {
    display: flex;
    justify-content: space-between;
}

.flight_header > h1{
    text-decoration: underline;
}

.flight_header_buttons {
    display: flex;
}

.close_flight_button {
    width: 50px;
}

.flight_stops_and_aircraft {
    display: flex;
    justify-content: space-between;
}

.flight_aircraft_div {
    width: 400px;
    border: 1px solid black;
    padding: 10px;
}

.flight_aircraft_img {
    width: 150px;
    border: 1px solid black;
}

.flight_aircraft_h2 {
    text-decoration: underline;
}

.flight_aircraft_info {
    display: flex;
}

.flight_aircraft_info_div {
    padding-left: 10px;
}


.flight_stops_div {
    padding-left: 25px;
    padding-top: 15px;
}

.flight_bottom {
    display: flex;
    justify-content: space-evenly;
}
